*,html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  text-align: center;
  color: blue;
  background-color: aqua;
}

header h1 {
  margin: 0
}

main {
  color: #2c3e50;
}

footer {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
  font-size: small;
  color: #fefefe;
  background-color: #00349f;
}

footer a {
  color: #fefefe;
  text-decoration: none;
}

#app {
  margin-top: 1rem;
  text-align: left;
  color: #2c3e50;
  font-size: x-large;
  line-height: 160%;
}

ul.list {
  padding: 0.4rem 1rem;
  list-style: none;
}

ul.list li {
  display: flex;
  margin: 0.4rem 0;
  padding: 0.1rem 0.2rem;
  border-bottom: 1px dashed #c0c0c0a0;
  cursor: pointer;
}

ul.list li > span {
  flex: 1;
}

.add-form {
  display: flex;
  width: 90vw;
  margin: 0 auto;
}
.add-form input[type=text] {
  flex: 1
}

.delete-button {
  border: none;
  background: none;
  color: #a0a0a0a0;
  cursor: pointer;
  transition: all 0.5s;
}
.delete-button:hover, .delete-button:active  {
  background: #d0d0d0a0;
  color: #0000ffff;
}
